.code-icon {
  position: absolute;
  bottom: 0px;
  right: 0px;
  margin: 10px 25px;
  padding: 10px;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  background-color: var(--purple);
  z-index: 100;
}
