/* Overlay styling */

:root {
  --purple: #6d5aef;
  --oPurple: #6b59ea;
}

.overlay {
  position: absolute;
  top: 0;
  left: 30px;
  right: 30px;
  bottom: 0;
  margin: 30px auto;
  background-color: #efefeff2;
  max-width: 1000px;
  border-radius: 20px;
  padding: 10px;
  font-size: 17pt;
  font-family: "nunito", sans-serif;
  color: var(--purple);
  border: 10px solid var(--purple);
  overflow-y: auto;
  max-height: 70vh;
}

.overlay .short {
  height: 100px;
}

.overlay .short .tile-content {
  height: 50%;
}

.overlay .closeBtn {
  cursor: pointer;
  border: none;
  float: right;
  color: var(--purple);
  outline: none;
  font-size: 20px;
  border-radius: 20px;
  text-align: center;
  width: 30px;
  margin-left: auto;
  font-weight: 600;
  padding: 5px;
}

.overlay .content {
  clear: both;
}

.overlay .content .title {
  margin: 0 25px;
  padding-bottom: 5px;
  border-bottom: 2px solid;
}

.tile-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 0;
}

.tile {
  width: 200px;
  border-radius: 10px;
  background-color: var(--purple);
  color: white;
  margin: 10px;
  padding: 10px;
  box-shadow: 10px 10px 0px var(oPurple);
}

.tile .tile-content span.description {
  display: inline-block;
  font-size: 14px;
  line-height: 25px;
  min-height: 100px;
  color: #ffffffa3;
}

.tile a {
  color: inherit;
  text-decoration: none;
  text-decoration: underline;
}

.tile .bottom {
  width: 100%;
}

.tile .tile-bottom a {
  font-size: 17px;
  color: white;
  display: inline-block;
  border-bottom: none;
}

.tile-bottom a:nth-child(1) {
  width: calc(70% - 20px);
  margin-right: 20px;
}

.tile-bottom a:nth-child(2) {
  width: calc(30%);
}

/* About Overlay */

.overlay .split {
  display: flex;
  padding: 20px;
}

.overlay .left,
.overlay .right {
  width: 50%;
}

img.profile-pic {
  border-radius: 15px;
  width: 300px;
  box-shadow: 10px 10px 0px var(oPurple);
}

.overlay .left p {
  padding-bottom: 10px;
  max-width: 400px;
}
